ul li{
    cursor: pointer;
}

a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.images{
    height: 200px;
    width: 315px;
}

.icons{
    width: 20px;
    height: 20px;
}

.Table{
    
    padding: 1cm;
    justify-content: center;
    display: grid;
    
    
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}
.Navbar{
   
    position: sticky;
    top: 0;
}

.bground{
    
    font-family: cursive;
    font-weight: 700;
    color: white;
    background: linear-gradient(
        rgba(0,0,0,0.4), 
          rgba(0, 0, 0, 0.4)
    );
    background-image: url(/Images/Icon.jpg);
}

.cons{
    justify-content: center;
}

.conicon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    cursor: pointer;
}
.bodytext{
    justify-content: center;
    padding: 3cm;
    font-size: xx-large;
}
h1{
    color: black;
    padding-top: 2cm;
    font-weight: 700;
}